
<mat-toolbar class="header">

  <div
    class="header__block"
    *ngFor="let item of financialKeys"
    [class.header__block--active]="financial[item].active">

    <h5>{{ financial[item].name }}</h5>

    <p
      [id]="financial[item].name"
      class="header__block__text"
      [class.header__block__text--positive]="isPositive(financial[item])"
      [class.header__block__text--negative]="isNegative(financial[item])">
        {{ financial[item].value | currency: currency }}
    </p>
  </div>

  <div class="header__block header__block--import header__block--active">
    <evley-importer
      [name]="importName"
      [importMethods]="importMethods">
    </evley-importer>
  </div>

</mat-toolbar>
