<div
  *ngIf="hasItem"
  [id]="'item_' + item.id"
  class="data-item"
  [title]="title"
  [ngStyle]="hasImage ? {'background-image': 'url(' + item.image + ')'} : ''"
  [class.data-item--has-image]="hasImage"
  [class.data-item--negative]="hasNegativeImpact"
  [class.data-item--positive]="hasPositiveImpact">

  <div class="data-item__badge">
    {{ item.impact }}
  </div>

  <mat-icon *ngIf="hasIcon">
    {{ item.icon }}
  </mat-icon>
  <span
    class="data-item__name"
    *ngIf="!hasImage && !hasIcon">
      {{ item.name }}
  </span>
</div>
