<div
  class="app"
  [class.app--no-user]="!hasData()">

  <div *ngIf="hasData()">
    <router-outlet></router-outlet>
  </div>

  <div
    class="app__zero-data"
    *ngIf="!hasData()">
    <p class="app__zero-data__message">
      No data to view. Import some.
      <mat-icon
        class="app__zero-data__message__icon"
        color="warn"
        matTooltip="This app is a read only experience. Data is stored locally on your device and can be removed at any time.">
        info
      </mat-icon>
    </p>
    <evley-importer
      [name]="importName"
      [importMethods]="importMethods">
    </evley-importer>
  </div>
</div>
