<app-header
  [hasData]="hasData"
  (importClosed)="onImportClosed($event)">
</app-header>

<div
  class="app"
  [class.app--no-user]="!hasData">

  <div *ngIf="hasData">
    <router-outlet></router-outlet>
  </div>

  <div
    class="app__zero-data"
    *ngIf="!hasData">

    <p class="app__zero-data__message">
      No data to view. Import some. Need a&nbsp;
      <a class="app__zero-data__message__link"
         target="_blank"
         [href]="templateLink">
         template
      </a>?
    </p>
    <evley-importer
      [name]="importName"
      [importMethods]="importMethods"
      (importClosed)="onImportClosed($event)">
    </evley-importer>
  </div>
</div>
