@import 'variables';
@import 'animations';

::ng-deep {

  .chart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;

    &__svg {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  .data-item {
    @include transition;

    $self: &;
    fill: #fff;

    > * {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &__circle {
      fill: $neutral-colour;
      stroke-width: 8px;
      stroke: transparent;
    }

    &__image {
      fill: #fff;
    }

    &__text {
      fill: #fff;
      text-transform: uppercase;
    }

    &__icon {
      fill: #fff;
    }

    &--has-image {
      #{$self}__circle {
        fill: #fff !important;
      }
    }

    &--positive {
      #{$self}__circle {
        fill: $positive-colour;
        stroke: $positive-colour;
      }
    }

    &--negative {
      #{$self}__circle {
        fill: $negative-colour;
        stroke: $negative-colour;
      }
    }
  }
}
