@import 'variables';
@import 'animations';

::ng-deep {

  .chart {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;

    &__svg {
      position: absolute;
    }
  }

  .data-item {
    @include transition;

    $self: &;
    fill: #fff;

    > * {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &__circle {
      fill: $neutral-colour;
      stroke-width: 8px;
      stroke: transparent;
    }

    &__image {
      fill: #fff;
    }

    &__text {
      fill: #fff;
      text-transform: uppercase;
    }

    &__icon {
      fill: #fff;
    }

    &__summary {
      fill: #000;

      &__title {
        text-align: center;
        margin: 32px 44px !important;
      }

      &__finance-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;

        &__name {
          text-transform: capitalize;
          font-weight: bold;
        }

        &__value {
          &--positive {
            color: $positive-colour;
          }

          &--negative {
            color: $negative-colour;
          }
        }

      }
    }

    &--key {
      #{$self}__circle {
        fill: #fff !important;
        stroke: #fff !important;
      }
    }

    &--has-image {
      #{$self}__circle {
        fill: #fff !important;
      }
    }

    &--positive {
      #{$self}__circle {
        fill: $positive-colour;
        stroke: $positive-colour;
      }
    }

    &--negative {
      #{$self}__circle {
        fill: $negative-colour;
        stroke: $negative-colour;
      }
    }

    &--essential {
      #{$self}__circle {
        stroke: $warn-colour;
      }
    }
  }
}
